.env
training_log.log
iomtenv/

config.py
mistral7b_model/
mistral7b_model_v1/
mistral7b_model_v2/
mistral7b_model_v3/
mistral7b_model_v3_1/
mistral7b_model_200K_v2/
llama4_model/
tokenized_dataset_cache/
mistral7b_model_200K_v1/
tokenized_dataset_cache_200K/
tokenized_dataset_cache_1M_v1/
__pycache__/

Assignment_5_TSP_BonifaceSindala.py
xqf131.tsp
xqg237.tsp